.company {
    overflow: hidden;
    padding-top: 64px;
    padding-bottom: 42px;
    background: #F6F6F6;
    text-align: center;
    font-size: 14px;
    color: #303133;
    letter-spacing: 1.54px;

    .mobile {
        float: left;
        width: 106px;
        margin-left: 27px;

        img {
            margin-bottom: 27px;
        }
    }

    .email {
        float: right;
        width: 130px;

        img {
            margin-bottom: 27px;
        }
    }

    .address {
        float: left;
        width: 345px;
        margin-left: 141px;
        line-height: 22px;

        img {
            margin-bottom: 14px;
        }
    }
}

.copyright {
    background: #F6F6F6;
    text-align: center;

    .box {
        position: relative;
        padding: 32px 0 30px;

        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            opacity: 0.2;
            width: 100%;
            height: 1px;
            margin-left: -50%;
            background: #002B5F;
            content: '';
        }

        span {
            font-size: 14px;
            color: #303133;
            opacity: .4;
            letter-spacing: 1.54px;
        }
    }
}

@media screen and (max-width: 910px) {
    .company {
        padding: 65px 0 0;
        background: #F6F6F6;
        text-align: center;
        font-size: 26px;
        color: #303133;
        letter-spacing: 2.86px;

        .box img {
            margin-bottom: 40px;
        }

        .box>div div+div {
            padding: 0 54px 72px;
        }

        .mobile, .address, .email {
            float: none;
            width: auto;
            margin-left: 0;
        }

        .address {
            line-height: 44px;
        }
    }

    .copyright {
        background: #F6F6F6;
        text-align: center;

        .box {
            margin: 0 26px;
            padding: 25px 0 40px;
            border-top: 1px solid rgba(0, 43, 95, .2);

            span {
                opacity: 0.4;
                font-size: 26px;
                color: #303133;
                letter-spacing: 2.86px;
                text-align: center;
                line-height: 37px;
            }
        }
    }
}