header {
    height: 64px;
    background-color: #ffffff;

    .logo {
        float: left;
        margin-top: 18px;
        margin-left: 30px;

        a:nth-child(1) {
            display: none;
        }
    }
    .nav {
        float: right;
        box-sizing: border-box;
        height: 100%;
        padding-right: 30px;

        li {
            float: left;
            box-sizing: border-box;
            width: 104px;
            text-align: center;
        }

        .order {
            display: none;
        }

        a {
            display: block;
            line-height: 62px;
            font-size: 14px;
            color: #303133;
        }

        .calculator {
            width: 168px;
            margin-left: 42px;
            margin-top: 16px;

            a {
                display: block;
                height: 28px;
                background: url(../../assets/img/calculator.png) no-repeat center center;

                &:hover {
                    background-image: url(../../assets/img/calculator.hover.png);
                }

                &:active {
                    background-image: url(../../assets/img/calculator.png);
                }
            }
        }
    }
}

.index header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: transparent;

    .logo {
        a:nth-child(1) {
            display: block;
        }
        a:nth-child(2) {
            display: none;
        }
    }

    .nav {
        a {
            color: #ffffff;
        }
    }
}

.about .about, .platform .platform, .apply .apply, .information .information, .contact .contact-a {
    a {
        border-bottom: 2px solid #1163B7;
        color: #1566B8;
    }
}

.order-box {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);

    .box {
        padding: 6px 0 245px;
        background-color: #ffffff;

        .close {
            float: right;
        }

        ul {
            margin-top: 94px;
            padding-left: 26px;
            box-shadow: 0 5px 8px 0 rgba(0, 24, 77, 0.10);

            li {
                line-height: 83px;
                font-size: 28px;
                letter-spacing: 2.36px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    color: #303133;
                }
            }

            li+li {
                border-top: 1px solid #E4E7ED;
            }

            .concat {
                color: #1163B7;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    header {
        .nav {
            padding-right: 20px;
            li+li {
                margin-left: 40px;
            }
        }
    }
}

@media screen and (max-width: 910px) {
    .index header {
        position: static;

        .logo {
            a:nth-child(1) {
                display: none;
            }

            a:nth-child(2) {
                display: block;
            }
        }
    }

    header {
        height: 100px;

        .logo {
            float: left;
            margin-top: 36px;
            margin-left: 26px;
        }

        .nav {
            float: right;
            padding-top: 0;
            padding-right: 0;

            li {
                display: none;
                float: left;
            }

            .calculator, .order {
                display: block;
            }

            .calculator {
                width: 286px;
                margin-right: 40px;

                a {
                    display: block;
                    height: 60px;
                    margin-top: 20px;
                    background: url(../../assets/img/m/calculator.png) no-repeat center center;
                }
            }

            .order {
                margin-top: 6px;
                margin-left: 0;
            }
        }
    }
}