.banner {
    position: relative;
    height: 444px;

    .bn {
        display: block;
        width: 100%;
        height: 100%;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;

        h1 {
            padding-top: 147px;
            font-size: 60px;
            color: #FFFFFF;
            line-height: 84px;
        }

        .desc {
            margin-top: 24px;
            font-size: 26px;
            color: #FFFFFF;
            letter-spacing: 2.19px;
            line-height: 42px;
        }
    }
}

.way {
    padding-top: 58px;

    ul li+li, ul+.item {
        margin-top: 40px;
    }

    .item {
        width: 646px;
        height: 338px;
        margin: 0 auto;
        box-shadow: 0 5px 12px 0 rgba(0, 24, 77, 0.10);
        letter-spacing: 2.19px;

        .title {
            margin-left: 24px;
            padding-top: 29px;
            font-size: 28px;
            color: #303133;
        }

        .line {
            margin-top: 15px;
            width: 111px;
            height: 1px;
            margin-left: -8px;
            background: #D9B765;
        }

        .data {
            margin-top: 24px;
            padding-left: 24px;
            font-size: 0;

            .name {
                font-size: 26px;
                color: #909399;
            }

            .text {
                display: inline-block;
                width: 405px;
                vertical-align: top;
                font-size: 26px;
                color: #000015;
            }
        }
    }
}

.line-x {
    display: block;
    width: 140px;
    height: 1px;
    margin: 69px auto 0;
    background: #D9B765;
}