html {
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "Hiragino Sans GB", "Heiti SC", sans-serif;
}

ul, li, p, hr, input, h1, h2 {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a, button, select, input, li, div {
    outline: none;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

.box {
    position: relative;
    width: 890px;
    margin: 0 auto;
}

.more {
    font-size: 0;

    a {
        display: inline-block;
        padding-left: 23px;
        font-size: 14px;
        color: #1063B7;
        letter-spacing: 0.44px;
        background: url(../img/arrow-right.png) no-repeat left center;

        &:hover {
            background-position: 4px center;
        }
    }

}

@media screen and (max-width: 910px) {

    .box {
        width: auto;
    }

    .more {
        a {
            // padding: 19px 0 19px 32px;
            padding-left: 32px;
            font-size: 30px;
            line-height: normal;
            letter-spacing: 0.83px;
            background: url(../img/m/arrow-right.png) no-repeat left center;

            &:hover {
                background-position: left center;
            }
        }

    }
}

h2.title {
    font-size: 40px;
    color: #303133;
    letter-spacing: 1.02px;
    line-height: 53px;
    font-weight: bold;
}

