.banner {
    position: relative;
    height: 720px;

    .bn {
        display: block;
        width: 100%;
        height: 100%;
    }

    .ar {
        position: absolute;
        left: 50%;
        bottom: 26px;
        margin-left: -10px;
    }

    .text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;

        h1 {
            padding-top: 284px;
            font-size: 40px;
            color: #FFFFFF;
            line-height: 54px;
        }

        .desc {
            margin-top: 20px;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 24px;
        }
    }
}

.idos {
    padding-top: 26px;

    .line {
        width: 1px;
        height: 120px;
        margin-left: 248px;
        background: #D9B765;
    }

    .img {
        margin-top: 12px;
    }

    .text {
        overflow: hidden;
        margin-top: 20px;

        .left, .right {
            float: left;
            width: 50%;
        }

        .left {
            line-height: 58px;

            .title {
                font-size: 40px;
                color: #303133;
                font-weight: bold;
            }

            .desc {
                width: 280px;
                margin-top: 14px;
                font-size: 14px;
                line-height: 22px;
                color: #909399;
            }

            .more {
                margin-top: 43px;
            }
        }

        .right {
            .row {
                margin-bottom: 20px;

                .title {
                    position: relative;
                    font-size: 18px;
                    line-height: 30px;
                    color: #303133;

                    &::before {
                        position: absolute;
                        left: -12px;
                        top: 50%;
                        width: 6px;
                        height: 6px;
                        margin-top: -3px;
                        border-radius: 3px;
                        background: #303133;
                        content: '';
                    }
                }

                .desc {
                    margin-top: 8px;
                    font-size: 14px;
                    color: #606266;
                    line-height: 22px;
                    opacity: .8;
                }
            }
        }
    }

    .line-x {
        width: 140px;
        height: 1px;
        margin-top: 98px;
        margin-bottom: 82px;
        margin-left: 748px;
        background: #D9B765;
    }
}

.smart {
    padding: 106px 0 24px;
    background: #F6F6F6;

    .left {
        float: left;
        width: 554px;

        .row {
            overflow: hidden;

            .item {
                text-align: center;

                .name {
                    margin-top: 10px;
                    font-size: 14px;
                    color: #303133;
                }
            }

            .item1 {
                float: left;
                width: 120px;
            }

            .item2 {
                float: left;
                width: 125px;
                margin-left: 77px;
            }

            .item3 {
                float: right;
                width: 160px;
            }

        }

        .row+.row {
            margin-top: 63px;
        }
    }

    .right {
        float: right;
        text-align: right;

        .img {
            padding-top: 19px;
        }

        h2 {
            margin-top: 18px;
            padding-right: 10px;
            font-size: 40px;
            color: #303133;
            line-height: 53px;
            letter-spacing: 3.27px;
        }

        .desc {
            opacity: 0.76;
            width: 180px;
            margin-top: 15px;
            padding-right: 10px;
            font-size: 14px;
            color: #909399;
            line-height: 22px;
        }
    }

    .more {
        clear: both;
        padding-top: 84px;
        text-align: center;
    }

    .line-y {
        width: 130px;
        height: 1px;
        margin: 58px auto 0;
        background: #D9B765;
        transform: rotate(90deg) translate(50%, 0);
    }
}

.service {
    padding-top: 177px;
    text-align: center;

    h2 {
        margin-top: 16px;
        font-size: 40px;
        color: #303133;
        letter-spacing: 1.27px;

        &.m {
            display: none;
        }
    }

    .desc {
        width: 339px;
        margin: 14px auto 0;
        font-size: 14px;
        color: #909399;
        letter-spacing: 1.54px;
        line-height: 19px;
    }

    ul {
        overflow: hidden;
        padding-top: 74px;

        li {
            float: left;
            width: 25%;

            .img {
                height: 60px;
            }

            .name {
                margin-top: 25px;
                font-size: 18px;
                color: #303133;
                letter-spacing: 0.57px;
                line-height: 30px;
            }
        }
    }

    .more {
        padding-top: 90px;
    }
}

.line-l {
    width: 360px;
    height: 1px;
    margin: 100px auto 0;
    background: #D9B765;
}

.contact {
    padding: 80px 0;

    .desc, h2 {
        line-height: 53px;
        text-align: center;
        font-size: 40px;
        color: #303133;
        letter-spacing: 1.27px;
    }

    h2 {
        color: #000015;
        line-height: 53px;
    }

    ul {
        padding-top: 56px;

        li {
            margin-bottom: 24px;

            .title {
                font-size: 18px;
                color: #303133;
                line-height: 24px;
            }

            .title+div {
                margin-top: 8px;

                input {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    height: 40px;
                    border: 1px solid #D9D9D9;
                    font-size: 14px;
                    text-indent: 8px;

                    &:focus {
                        border: 1px solid #0062BD;
                        box-shadow: 0 0 4px 0 rgba(0, 98, 189, 0.60);
                    }
                }
            }
        }
    }

    button {
        display: block;
        width: 80px;
        height: 40px;
        border: 1px solid #1163B7;
        background-color: #ffffff;
        font-size: 14px;
        color: #1163B7;
        cursor: pointer;

        &:hover {
            background: #0062BD;
            color: #ffffff;
        }
    }
}